In [38]:
#Data from 5 Jun onward

In [39]:
import pandas as pd
import seaborn as sns 
import folium 
import matplotlib.pyplot as plt
import os

In [40]:
curr_dir=os.getcwd()

In [41]:
os.listdir(curr_dir)

['.DS_Store',
 'CleaningWebsiteBookings.ipynb',
 'Untitled.ipynb',
 'HS Website bookings.xlsx',
 'CustInfoFromWebsiteBookings.csv',
 'cleanedwebsitebookings.csv',
 'Allairbnbreservations.csv',
 'websitebookingscleaned.csv',
 'airbnbreservationshs.xlsx',
 '12112-Hartridge SpringsBookings-3.csv',
 '.ipynb_checkpoints']

In [42]:
website_bookings=pd.read_csv('12112-Hartridge SpringsBookings-3.csv', encoding='iso-8859-1')

In [43]:
website_bookings.dropna(axis=0)

Empty DataFrame
Columns: [booking_id, status, name, address, postcode, email, telephone, created, start, end, days, currency, price, paid, due, commission, commission_net, stripe_fee, extras_price, units_price, discount, channel, origin, site_id, notes, admin_notes, adults, children, ages, units, extras, site_opt_in]
Index: []

[0 rows x 32 columns]

In [44]:
website_bookings.isna().sum()

booking_id          0
status              0
name                2
address           156
postcode          166
email             106
telephone           0
created             0
start               0
end                 0
days                0
currency            0
price               0
paid                0
due                 0
commission          0
commission_net      0
stripe_fee          0
extras_price        0
units_price         0
discount            0
channel             0
origin            120
site_id             0
notes             113
admin_notes       166
adults              0
children            0
ages              106
units               0
extras              0
site_opt_in         0
dtype: int64

In [45]:
website_bookings.dropna(axis=1, how='all', inplace=True)

#Drop columns consisting entirely of nulls

In [46]:
website_bookings

,booking_id,status,name,address,postcode,email,telephone,created,start,end,...,origin,site_id,notes,admin_notes,adults,children,ages,units,extras,site_opt_in
0,8577547,Confirmed,Not available,NaN,NaN,NaN,\t,05/06/2023,04/12/2024,05/12/2024,...,NaN,12112,NaN,NaN,1,0,NaN,[37690-Hera],[],no
1,8577546,Confirmed,Not available,NaN,NaN,NaN,\t,05/06/2023,30/11/2024,03/12/2024,...,NaN,12112,NaN,NaN,1,0,NaN,[37690-Hera],[],no
2,8577545,Confirmed,Not available,NaN,NaN,NaN,\t,05/06/2023,27/11/2024,29/11/2024,...,NaN,12112,NaN,NaN,1,0,NaN,[37690-Hera],[],no
3,8577544,Confirmed,Not available,NaN,NaN,NaN,\t,05/06/2023,25/11/2024,26/11/2024,...,NaN,12112,NaN,NaN,1,0,NaN,[37690-Hera],[],no
4,8577543,Confirmed,Not available,NaN,NaN,NaN,\t,05/06/2023,23/11/2024,24/11/2024,...,NaN,12112,NaN,NaN,1,0,NaN,[37690-Hera],[],no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,7176100,Confirmed,Alexander Vezhnevets,NaN,NaN,vezhnick@gmail.com,\t07773173852,05/06/2022,18/06/2022,22/06/2022,...,Other,12112,Victoria Stoyanova\nOrigin:Vanya,NaN,2,0,"40, 40",[37694-Athena],[],yes
163,7174720,Confirmed,Emma Crombie,NaN,NaN,emmajcrombie@gmail.com,\t07585139722,05/06/2022,01/07/2022,03/07/2022,...,Other,12112,"Emma Crombie, Dominic Gates \nOrigin:Friend",NaN,2,0,"40, 40",[37693-Artemis],[],no
164,7173115,Confirmed,Tracey Bowyer,NaN,NaN,tracey.bowyer@hotmail.com,\t07583170444,04/06/2022,01/07/2022,03/07/2022,...,Search Engine,12112,Lewis Luke Harry Alfie Sophie Tracey,NaN,7,0,"40, 40, 40, 40, 40, 40, 40",[37690-Hera 37694-Athena],[],yes
165,7155361,Confirmed,Natalya,"Hartridge Springs, Whippens Cottage, Upottery",ex149qe,n.rushailo@gmail.com,\t07789527097,30/05/2022,04/06/2022,06/06/2022,...,NaN,12112,Natalya and Co,Custom booking created by Misha Freidin on May...,2,0,"40, 40",[37693-Artemis],[],no
166,7149405,Confirmed,Martin Davtyan,NaN,NaN,martin.davtyan@gmail.com,\t07497832950,28/05/2022,18/06/2022,22/06/2022,...,NaN,12112,NaN,NaN,2,0,"40, 40",[37690-Hera],[],no

In [47]:
website_bookings.address

0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN
                           ...
162                                              NaN
163                                              NaN
164                                              NaN
165    Hartridge Springs, Whippens Cottage, Upottery
166                                              NaN
Name: address, Length: 167, dtype: object

In [48]:
website_bookings_only=website_bookings.drop(website_bookings[website_bookings['name']=='Not available'].index)

In [49]:
website_bookings_only

,booking_id,status,name,address,postcode,email,telephone,created,start,end,...,origin,site_id,notes,admin_notes,adults,children,ages,units,extras,site_opt_in
55,8574991,Confirmed,Daria Biryukova,NaN,NaN,biryukovadi@gmail.com,\t07450687977,04/06/2023,07/07/2023,09/07/2023,...,Other,12112,"Daria Biryukova, Ivan Biriukov, Ekaterina Gird...",NaN,4,0,"40, 40, 40, 40",[37694-Athena],[],no
56,8567343,Confirmed,Reserved,NaN,NaN,NaN,\t,02/06/2023,10/06/2023,11/06/2023,...,NaN,12112,NaN,NaN,1,0,NaN,[37693-Artemis],[],no
57,8549078,Confirmed,Scott Sweeney,NaN,NaN,scott.sweeney@yahoo.co.uk,\t07986013467,29/05/2023,30/05/2023,01/06/2023,...,Trip Advisor,12112,Scott Jennifer Ben Rachel,NaN,2,2,"40, 40, 15, 13",[37693-Artemis],[],no
59,8538990,Confirmed,Reserved,NaN,NaN,NaN,\t,26/05/2023,28/05/2023,03/06/2023,...,NaN,12112,NaN,NaN,1,0,NaN,[37692-Rock Star],[],no
61,8517144,Confirmed,Julie Pledge,NaN,NaN,julesp26@yahoo.co.uk,\t07872827613,20/05/2023,27/05/2023,29/05/2023,...,Recommendation,12112,"Julie Pledge, Edward Moan, William Moan",NaN,1,2,"40, 15, 12",[37693-Artemis],[],yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,7176100,Confirmed,Alexander Vezhnevets,NaN,NaN,vezhnick@gmail.com,\t07773173852,05/06/2022,18/06/2022,22/06/2022,...,Other,12112,Victoria Stoyanova\nOrigin:Vanya,NaN,2,0,"40, 40",[37694-Athena],[],yes
163,7174720,Confirmed,Emma Crombie,NaN,NaN,emmajcrombie@gmail.com,\t07585139722,05/06/2022,01/07/2022,03/07/2022,...,Other,12112,"Emma Crombie, Dominic Gates \nOrigin:Friend",NaN,2,0,"40, 40",[37693-Artemis],[],no
164,7173115,Confirmed,Tracey Bowyer,NaN,NaN,tracey.bowyer@hotmail.com,\t07583170444,04/06/2022,01/07/2022,03/07/2022,...,Search Engine,12112,Lewis Luke Harry Alfie Sophie Tracey,NaN,7,0,"40, 40, 40, 40, 40, 40, 40",[37690-Hera 37694-Athena],[],yes
165,7155361,Confirmed,Natalya,"Hartridge Springs, Whippens Cottage, Upottery",ex149qe,n.rushailo@gmail.com,\t07789527097,30/05/2022,04/06/2022,06/06/2022,...,NaN,12112,Natalya and Co,Custom booking created by Misha Freidin on May...,2,0,"40, 40",[37693-Artemis],[],no
166,7149405,Confirmed,Martin Davtyan,NaN,NaN,martin.davtyan@gmail.com,\t07497832950,28/05/2022,18/06/2022,22/06/2022,...,NaN,12112,NaN,NaN,2,0,"40, 40",[37690-Hera],[],no

In [50]:
website_bookings_only=website_bookings_only.drop(website_bookings_only[website_bookings_only['name']=='Reserved'].index)

In [51]:
website_bookings_only

,booking_id,status,name,address,postcode,email,telephone,created,start,end,...,origin,site_id,notes,admin_notes,adults,children,ages,units,extras,site_opt_in
55,8574991,Confirmed,Daria Biryukova,NaN,NaN,biryukovadi@gmail.com,\t07450687977,04/06/2023,07/07/2023,09/07/2023,...,Other,12112,"Daria Biryukova, Ivan Biriukov, Ekaterina Gird...",NaN,4,0,"40, 40, 40, 40",[37694-Athena],[],no
57,8549078,Confirmed,Scott Sweeney,NaN,NaN,scott.sweeney@yahoo.co.uk,\t07986013467,29/05/2023,30/05/2023,01/06/2023,...,Trip Advisor,12112,Scott Jennifer Ben Rachel,NaN,2,2,"40, 40, 15, 13",[37693-Artemis],[],no
61,8517144,Confirmed,Julie Pledge,NaN,NaN,julesp26@yahoo.co.uk,\t07872827613,20/05/2023,27/05/2023,29/05/2023,...,Recommendation,12112,"Julie Pledge, Edward Moan, William Moan",NaN,1,2,"40, 15, 12",[37693-Artemis],[],yes
62,8507609,Confirmed,Maria Ghani,NaN,NaN,mariaghani@gmail.com,\t07803356874,17/05/2023,26/05/2023,29/05/2023,...,Search Engine,12112,"David, Maria, Ilyas (6), Aliyah (3)",NaN,2,2,"40, 40, 6, 3",[37690-Hera],[],no
63,8493181,Confirmed,Chris Coxhead,NaN,NaN,chriscoxhead@hotmail.com,\t07768697414,12/05/2023,17/08/2023,21/08/2023,...,Search Engine,12112,"Chris Coxhead, Fiona Imber , Milly (the dog)",NaN,2,0,"40, 40",[37690-Hera],[],yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,7176100,Confirmed,Alexander Vezhnevets,NaN,NaN,vezhnick@gmail.com,\t07773173852,05/06/2022,18/06/2022,22/06/2022,...,Other,12112,Victoria Stoyanova\nOrigin:Vanya,NaN,2,0,"40, 40",[37694-Athena],[],yes
163,7174720,Confirmed,Emma Crombie,NaN,NaN,emmajcrombie@gmail.com,\t07585139722,05/06/2022,01/07/2022,03/07/2022,...,Other,12112,"Emma Crombie, Dominic Gates \nOrigin:Friend",NaN,2,0,"40, 40",[37693-Artemis],[],no
164,7173115,Confirmed,Tracey Bowyer,NaN,NaN,tracey.bowyer@hotmail.com,\t07583170444,04/06/2022,01/07/2022,03/07/2022,...,Search Engine,12112,Lewis Luke Harry Alfie Sophie Tracey,NaN,7,0,"40, 40, 40, 40, 40, 40, 40",[37690-Hera 37694-Athena],[],yes
165,7155361,Confirmed,Natalya,"Hartridge Springs, Whippens Cottage, Upottery",ex149qe,n.rushailo@gmail.com,\t07789527097,30/05/2022,04/06/2022,06/06/2022,...,NaN,12112,Natalya and Co,Custom booking created by Misha Freidin on May...,2,0,"40, 40",[37693-Artemis],[],no
166,7149405,Confirmed,Martin Davtyan,NaN,NaN,martin.davtyan@gmail.com,\t07497832950,28/05/2022,18/06/2022,22/06/2022,...,NaN,12112,NaN,NaN,2,0,"40, 40",[37690-Hera],[],no

In [52]:
website_bookings_only.address.isnull().sum()

56

Drop address

In [53]:
website_bookings_only.drop(columns='address',inplace=True)

In [54]:
website_bookings_only.drop(columns='extras',inplace=True)

In [55]:
names=pd.DataFrame(website_bookings_only.name)

In [56]:
website_bookings_only.columns

Index(['booking_id', 'status', 'name', 'postcode', 'email', 'telephone',
       'created', 'start', 'end', 'days', 'currency', 'price', 'paid', 'due',
       'commission', 'commission_net', 'stripe_fee', 'extras_price',
       'units_price', 'discount', 'channel', 'origin', 'site_id', 'notes',
       'admin_notes', 'adults', 'children', 'ages', 'units', 'site_opt_in'],
      dtype='object')

In [57]:
website_bookings_only=website_bookings_only.drop(columns=['extras_price','currency','site_id'])

In [58]:
website_bookings_only.info()

<class 'pandas.core.frame.DataFrame'>
Index: 67 entries, 55 to 166
Data columns (total 27 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   booking_id      67 non-null     int64
 1   status          67 non-null     object
 2   name            65 non-null     object
 3   postcode        1 non-null      object
 4   email           61 non-null     object
 5   telephone       67 non-null     object
 6   created         67 non-null     object
 7   start           67 non-null     object
 8   end             67 non-null     object
 9   days            67 non-null     int64
 10  price           67 non-null     int64
 11  paid            67 non-null     int64
 12  due             67 non-null     int64
 13  commission      67 non-null     int64
 14  commission_net  67 non-null     int64
 15  stripe_fee      67 non-null     float64
 16  units_price     67 non-null     int64
 17  discount        67 non-null     int64
 18  channel         67 non-null     object
 19  origin          47 non-null     object
 20  notes           54 non-null     object
 21  admin_notes     1 non-null      object
 22  adults          67 non-null     int64
 23  children        67 non-null     int64
 24  ages            61 non-null     object
 25  units           67 non-null     object
 26  site_opt_in     67 non-null     object
dtypes: float64(1), int64(11), object(15)
memory usage: 14.7+ KB

In [59]:
non_null_columns = website_bookings_only.columns[website_bookings_only.notnull().any()]
website_bookings_only_non_null = website_bookings_only[non_null_columns]

# Print the DataFrame with non-null columns
print(website_bookings_only_non_null)

     booking_id     status                  name postcode
55      8574991  Confirmed       Daria Biryukova      NaN  \
57      8549078  Confirmed         Scott Sweeney      NaN
61      8517144  Confirmed          Julie Pledge      NaN
62      8507609  Confirmed         Maria  Ghani       NaN
63      8493181  Confirmed         Chris Coxhead      NaN
..          ...        ...                   ...      ...
162     7176100  Confirmed  Alexander Vezhnevets      NaN
163     7174720  Confirmed         Emma Crombie       NaN
164     7173115  Confirmed        Tracey  Bowyer      NaN
165     7155361  Confirmed               Natalya  ex149qe
166     7149405  Confirmed        Martin Davtyan      NaN

                         email      telephone     created       start
55       biryukovadi@gmail.com  \t07450687977  04/06/2023  07/07/2023  \
57   scott.sweeney@yahoo.co.uk  \t07986013467  29/05/2023  30/05/2023
61        julesp26@yahoo.co.uk  \t07872827613  20/05/2023  27/05/2023
62        mariaghani@gmail.com  \t07803356874  17/05/2023  26/05/2023
63    chriscoxhead@hotmail.com  \t07768697414  12/05/2023  17/08/2023
..                         ...            ...         ...         ...
162         vezhnick@gmail.com  \t07773173852  05/06/2022  18/06/2022
163     emmajcrombie@gmail.com  \t07585139722  05/06/2022  01/07/2022
164  tracey.bowyer@hotmail.com  \t07583170444  04/06/2022  01/07/2022
165       n.rushailo@gmail.com  \t07789527097  30/05/2022  04/06/2022
166   martin.davtyan@gmail.com  \t07497832950  28/05/2022  18/06/2022

            end  days  ...  discount    channel          origin
55   09/07/2023     2  ...         0        Web           Other  \
57   01/06/2023     2  ...         0        Web    Trip Advisor
61   29/05/2023     2  ...         0        Web  Recommendation
62   29/05/2023     3  ...         0        Web   Search Engine
63   21/08/2023     4  ...         0        Web   Search Engine
..          ...   ...  ...       ...        ...             ...
162  22/06/2022     4  ...         0        Web           Other
163  03/07/2022     2  ...         0        Web           Other
164  03/07/2022     2  ...         0        Web   Search Engine
165  06/06/2022     2  ...         0  Dashboard             NaN
166  22/06/2022     4  ...         0        Web             NaN

                                                 notes
55   Daria Biryukova, Ivan Biriukov, Ekaterina Gird...  \
57                           Scott Jennifer Ben Rachel
61             Julie Pledge, Edward Moan, William Moan
62                 David, Maria, Ilyas (6), Aliyah (3)
63        Chris Coxhead, Fiona Imber , Milly (the dog)
..                                                 ...
162                   Victoria Stoyanova\nOrigin:Vanya
163       Emma Crombie, Dominic Gates \nOrigin:Friend
164              Lewis Luke Harry Alfie Sophie Tracey
165                                     Natalya and Co
166                                                NaN

                                           admin_notes  adults  children
55                                                 NaN       4         0  \
57                                                 NaN       2         2
61                                                 NaN       1         2
62                                                 NaN       2         2
63                                                 NaN       2         0
..                                                 ...     ...       ...
162                                                NaN       2         0
163                                                NaN       2         0
164                                                NaN       7         0
165  Custom booking created by Misha Freidin on May...       2         0
166                                                NaN       2         0

                           ages                      units site_opt_in
55               40, 40, 40, 40             [37694-Athena]          no
57               40, 40, 15, 13            [37693-Artemis]          no
61                   40, 15, 12            [37693-Artemis]         yes
62                 40, 40, 6, 3               [37690-Hera]          no
63                       40, 40               [37690-Hera]         yes
..                          ...                        ...         ...
162                      40, 40             [37694-Athena]         yes
163                      40, 40            [37693-Artemis]          no
164  40, 40, 40, 40, 40, 40, 40  [37690-Hera 37694-Athena]         yes
165                      40, 40            [37693-Artemis]          no
166                      40, 40               [37690-Hera]          no

[67 rows x 27 columns]

In [60]:
website_bookings_only.admin_notes[website_bookings_only.admin_notes.notnull()]

165    Custom booking created by Misha Freidin on May...
Name: admin_notes, dtype: object

In [61]:
website_bookings_only.drop(columns=['admin_notes'], inplace=True)

In [62]:
website_bookings_only

,booking_id,status,name,postcode,email,telephone,created,start,end,days,...,units_price,discount,channel,origin,notes,adults,children,ages,units,site_opt_in
55,8574991,Confirmed,Daria Biryukova,NaN,biryukovadi@gmail.com,\t07450687977,04/06/2023,07/07/2023,09/07/2023,2,...,400,0,Web,Other,"Daria Biryukova, Ivan Biriukov, Ekaterina Gird...",4,0,"40, 40, 40, 40",[37694-Athena],no
57,8549078,Confirmed,Scott Sweeney,NaN,scott.sweeney@yahoo.co.uk,\t07986013467,29/05/2023,30/05/2023,01/06/2023,2,...,360,0,Web,Trip Advisor,Scott Jennifer Ben Rachel,2,2,"40, 40, 15, 13",[37693-Artemis],no
61,8517144,Confirmed,Julie Pledge,NaN,julesp26@yahoo.co.uk,\t07872827613,20/05/2023,27/05/2023,29/05/2023,2,...,360,0,Web,Recommendation,"Julie Pledge, Edward Moan, William Moan",1,2,"40, 15, 12",[37693-Artemis],yes
62,8507609,Confirmed,Maria Ghani,NaN,mariaghani@gmail.com,\t07803356874,17/05/2023,26/05/2023,29/05/2023,3,...,540,0,Web,Search Engine,"David, Maria, Ilyas (6), Aliyah (3)",2,2,"40, 40, 6, 3",[37690-Hera],no
63,8493181,Confirmed,Chris Coxhead,NaN,chriscoxhead@hotmail.com,\t07768697414,12/05/2023,17/08/2023,21/08/2023,4,...,800,0,Web,Search Engine,"Chris Coxhead, Fiona Imber , Milly (the dog)",2,0,"40, 40",[37690-Hera],yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,7176100,Confirmed,Alexander Vezhnevets,NaN,vezhnick@gmail.com,\t07773173852,05/06/2022,18/06/2022,22/06/2022,4,...,800,0,Web,Other,Victoria Stoyanova\nOrigin:Vanya,2,0,"40, 40",[37694-Athena],yes
163,7174720,Confirmed,Emma Crombie,NaN,emmajcrombie@gmail.com,\t07585139722,05/06/2022,01/07/2022,03/07/2022,2,...,290,0,Web,Other,"Emma Crombie, Dominic Gates \nOrigin:Friend",2,0,"40, 40",[37693-Artemis],no
164,7173115,Confirmed,Tracey Bowyer,NaN,tracey.bowyer@hotmail.com,\t07583170444,04/06/2022,01/07/2022,03/07/2022,2,...,580,0,Web,Search Engine,Lewis Luke Harry Alfie Sophie Tracey,7,0,"40, 40, 40, 40, 40, 40, 40",[37690-Hera 37694-Athena],yes
165,7155361,Confirmed,Natalya,ex149qe,n.rushailo@gmail.com,\t07789527097,30/05/2022,04/06/2022,06/06/2022,2,...,0,0,Dashboard,NaN,Natalya and Co,2,0,"40, 40",[37693-Artemis],no
166,7149405,Confirmed,Martin Davtyan,NaN,martin.davtyan@gmail.com,\t07497832950,28/05/2022,18/06/2022,22/06/2022,4,...,800,0,Web,NaN,NaN,2,0,"40, 40",[37690-Hera],no

In [63]:
website_bookings_only=website_bookings_only.drop(columns='postcode')

In [64]:
website_bookings_only.info()

<class 'pandas.core.frame.DataFrame'>
Index: 67 entries, 55 to 166
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   booking_id      67 non-null     int64
 1   status          67 non-null     object
 2   name            65 non-null     object
 3   email           61 non-null     object
 4   telephone       67 non-null     object
 5   created         67 non-null     object
 6   start           67 non-null     object
 7   end             67 non-null     object
 8   days            67 non-null     int64
 9   price           67 non-null     int64
 10  paid            67 non-null     int64
 11  due             67 non-null     int64
 12  commission      67 non-null     int64
 13  commission_net  67 non-null     int64
 14  stripe_fee      67 non-null     float64
 15  units_price     67 non-null     int64
 16  discount        67 non-null     int64
 17  channel         67 non-null     object
 18  origin          47 non-null     object
 19  notes           54 non-null     object
 20  adults          67 non-null     int64
 21  children        67 non-null     int64
 22  ages            61 non-null     object
 23  units           67 non-null     object
 24  site_opt_in     67 non-null     object
dtypes: float64(1), int64(11), object(13)
memory usage: 13.6+ KB

Seems now we have only informative columns 

Note to self: Can I get the addresses by exploring Bewebsite_bookings_onlyul Bookings?

In [65]:
emails= website_bookings_only.email[website_bookings_only.email.notnull()]

In [66]:
emails.info

<bound method Series.info of 55         biryukovadi@gmail.com
57     scott.sweeney@yahoo.co.uk
61          julesp26@yahoo.co.uk
62          mariaghani@gmail.com
63      chriscoxhead@hotmail.com
                 ...
162           vezhnick@gmail.com
163       emmajcrombie@gmail.com
164    tracey.bowyer@hotmail.com
165         n.rushailo@gmail.com
166     martin.davtyan@gmail.com
Name: email, Length: 61, dtype: object>

In [67]:
cust_info=website_bookings_only[['name','email','telephone']]

In [68]:
cust_info.to_csv('CustInfoFromWebsiteBookings.csv',index=False)

In [69]:
website_bookings_only

,booking_id,status,name,email,telephone,created,start,end,days,price,...,units_price,discount,channel,origin,notes,adults,children,ages,units,site_opt_in
55,8574991,Confirmed,Daria Biryukova,biryukovadi@gmail.com,\t07450687977,04/06/2023,07/07/2023,09/07/2023,2,400,...,400,0,Web,Other,"Daria Biryukova, Ivan Biriukov, Ekaterina Gird...",4,0,"40, 40, 40, 40",[37694-Athena],no
57,8549078,Confirmed,Scott Sweeney,scott.sweeney@yahoo.co.uk,\t07986013467,29/05/2023,30/05/2023,01/06/2023,2,360,...,360,0,Web,Trip Advisor,Scott Jennifer Ben Rachel,2,2,"40, 40, 15, 13",[37693-Artemis],no
61,8517144,Confirmed,Julie Pledge,julesp26@yahoo.co.uk,\t07872827613,20/05/2023,27/05/2023,29/05/2023,2,360,...,360,0,Web,Recommendation,"Julie Pledge, Edward Moan, William Moan",1,2,"40, 15, 12",[37693-Artemis],yes
62,8507609,Confirmed,Maria Ghani,mariaghani@gmail.com,\t07803356874,17/05/2023,26/05/2023,29/05/2023,3,540,...,540,0,Web,Search Engine,"David, Maria, Ilyas (6), Aliyah (3)",2,2,"40, 40, 6, 3",[37690-Hera],no
63,8493181,Confirmed,Chris Coxhead,chriscoxhead@hotmail.com,\t07768697414,12/05/2023,17/08/2023,21/08/2023,4,800,...,800,0,Web,Search Engine,"Chris Coxhead, Fiona Imber , Milly (the dog)",2,0,"40, 40",[37690-Hera],yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,7176100,Confirmed,Alexander Vezhnevets,vezhnick@gmail.com,\t07773173852,05/06/2022,18/06/2022,22/06/2022,4,800,...,800,0,Web,Other,Victoria Stoyanova\nOrigin:Vanya,2,0,"40, 40",[37694-Athena],yes
163,7174720,Confirmed,Emma Crombie,emmajcrombie@gmail.com,\t07585139722,05/06/2022,01/07/2022,03/07/2022,2,290,...,290,0,Web,Other,"Emma Crombie, Dominic Gates \nOrigin:Friend",2,0,"40, 40",[37693-Artemis],no
164,7173115,Confirmed,Tracey Bowyer,tracey.bowyer@hotmail.com,\t07583170444,04/06/2022,01/07/2022,03/07/2022,2,580,...,580,0,Web,Search Engine,Lewis Luke Harry Alfie Sophie Tracey,7,0,"40, 40, 40, 40, 40, 40, 40",[37690-Hera 37694-Athena],yes
165,7155361,Confirmed,Natalya,n.rushailo@gmail.com,\t07789527097,30/05/2022,04/06/2022,06/06/2022,2,280,...,0,0,Dashboard,NaN,Natalya and Co,2,0,"40, 40",[37693-Artemis],no
166,7149405,Confirmed,Martin Davtyan,martin.davtyan@gmail.com,\t07497832950,28/05/2022,18/06/2022,22/06/2022,4,800,...,800,0,Web,NaN,NaN,2,0,"40, 40",[37690-Hera],no

In [70]:
website_bookings_only.created.dtype

dtype('O')

In [71]:
website_bookings_only['start'] = pd.to_datetime(website_bookings_only['start'], format="%d/%m/%Y")
website_bookings_only['end'] = pd.to_datetime(website_bookings_only['end'], format="%d/%m/%Y")

In [72]:
website_bookings_only=website_bookings_only.drop(columns=['due','commission','commission_net'])

In [73]:
website_bookings_only.dtypes

booking_id              int64
status                 object
name                   object
email                  object
telephone              object
created                object
start          datetime64[ns]
end            datetime64[ns]
days                    int64
price                   int64
paid                    int64
stripe_fee            float64
units_price             int64
discount                int64
channel                object
origin                 object
notes                  object
adults                  int64
children                int64
ages                   object
units                  object
site_opt_in            object
dtype: object

In [74]:
website_bookings_only['created'] = website_bookings_only['created'].dt.strftime("%d-%m-%Y")
website_bookings_only['start'] = website_bookings_only['start'].dt.strftime("%d-%m-%Y")
website_bookings_only['end'] = website_bookings_only['end'].dt.strftime("%d-%m-%Y")


website_bookings_only['created'] = pd.to_datetime(website_bookings_only['created'], format="%d-%m-%Y")
website_bookings_only['start'] = pd.to_datetime(website_bookings_only['start'], format="%d-%m-%Y")
website_bookings_only['end'] = pd.to_datetime(website_bookings_only['end'], format="%d-%m-%Y")

AttributeError: Can only use .dt accessor with datetimelike values

In [ ]:
website_bookings_only.dtypes

In [ ]:
website_bookings_only

In [ ]:
website_bookings_only.info()

In [ ]:
website_bookings_only.to_csv('cleanedwebsitebookings.csv', index=False)

In [ ]:
website_bookings_only.dropna(subset=['name'], inplace=True)

In [ ]:
website_bookings_only.name.isnull().sum()

In [ ]:
website_bookings_only

In [ ]:

website_bookings_only['telephone'] = website_bookings_only['telephone'].str.replace(r'\D', '', regex=True)

In [ ]:
website_bookings_only.to_csv('websitebookingscleaned.csv',index=False) # Need to remove Pitchup bookings also

In [ ]:
website_bookings_only=website_bookings_only[website_bookings_only.channel!= 'Pitchup']

In [ ]:
website_bookings_only

In [ ]:
website_bookings_only.dropna(subset=['email'], inplace=True)

In [ ]:
website_bookings_only.channel.value_counts()

In [ ]:
website_bookings_only.to_csv('cleanedwebsitebookings.csv', index=False)

In [ ]:
website_bookings_only['month_created']=website_bookings_only.created.dt.strftime('%B %Y')

In [ ]:
website_bookings_only.month_created

In [ ]:
website_bookings_only['month_created'] = pd.to_datetime(website_bookings_only['month_created'], format='%B %Y')

In [ ]:
 website_bookings_only['month_created'] = website_bookings_only['month_created'].dt.to_period('M').dt.to_timestamp()

In [ ]:
website_bookings_only

In [ ]:
website_bookings_only['month_created'] = website_bookings_only['month_created'].dt.to_period('M')

In [ ]:
website_bookings_only.month_created.dtype

In [ ]:
revenue_by_month = website_bookings_only.groupby('month_created')['paid'].sum()

In [ ]:
revenue_by_month

In [ ]:
website_bookings_only = website_bookings_only.join(revenue_by_month, on='month_created', rsuffix='_sum')

In [ ]:
website_bookings_only.rename(columns={'paid_sum': 'monthly_revenue'}, inplace=True)

In [ ]:
website_bookings_only.month_revenue.plt

In [ ]:
sns.barplot(x='month_created', y='monthly_revenue', data=website_bookings_only)
plt.xlabel('Month')
plt.ylabel('Monthly Revenue')
plt.title('Monthly Revenue')
plt.xticks(rotation='vertical')
plt.show()

In [75]:
website_bookings_only.to_csv('websitebookingscleaned.csv',index=False)

In [76]:
clean=pd.read_csv('cleanedwebsitebookings.csv')

In [77]:
clean['channel']='Website'

In [78]:
clean

,booking_id,status,name,email,telephone,created,start,end,days,price,...,discount,channel,origin,notes,adults,children,ages,units,site_opt_in,month_created
0,8574991,Confirmed,Daria Biryukova,biryukovadi@gmail.com,7450687977,2023-06-04,2023-07-07,2023-07-09,2,400,...,0,Website,Other,"Daria Biryukova, Ivan Biriukov, Ekaterina Gird...",4,0,"40, 40, 40, 40",[37694-Athena],no,2023-06
1,8549078,Confirmed,Scott Sweeney,scott.sweeney@yahoo.co.uk,7986013467,2023-05-29,2023-05-30,2023-06-01,2,360,...,0,Website,Trip Advisor,Scott Jennifer Ben Rachel,2,2,"40, 40, 15, 13",[37693-Artemis],no,2023-05
2,8517144,Confirmed,Julie Pledge,julesp26@yahoo.co.uk,7872827613,2023-05-20,2023-05-27,2023-05-29,2,360,...,0,Website,Recommendation,"Julie Pledge, Edward Moan, William Moan",1,2,"40, 15, 12",[37693-Artemis],yes,2023-05
3,8507609,Confirmed,Maria Ghani,mariaghani@gmail.com,7803356874,2023-05-17,2023-05-26,2023-05-29,3,540,...,0,Website,Search Engine,"David, Maria, Ilyas (6), Aliyah (3)",2,2,"40, 40, 6, 3",[37690-Hera],no,2023-05
4,8493181,Confirmed,Chris Coxhead,chriscoxhead@hotmail.com,7768697414,2023-05-12,2023-08-17,2023-08-21,4,800,...,0,Website,Search Engine,"Chris Coxhead, Fiona Imber , Milly (the dog)",2,0,"40, 40",[37690-Hera],yes,2023-05
5,8450946,Confirmed,Paul Cook,paulcook101@hotmail.com,7950683501,2023-04-30,2023-05-19,2023-05-20,1,120,...,0,Website,Recommendation,Paul Cook / Katie Cook,2,0,"40, 40",[37690-Hera],no,2023-04
6,8447545,Confirmed,Nicholas Scott-Smith,nscottsmith@gmail.com,7903195671,2023-04-29,2023-08-25,2023-08-27,2,320,...,0,Website,Returning Customer,"Nick, Gemma, Iris, Averly, Violet",2,2,"40, 40, 9, 7",[37694-Athena],yes,2023-04
7,8144344,Confirmed,Paul Cook,paulcook101@hotmail.com,7950683501,2023-03-02,2023-05-20,2023-05-21,1,120,...,0,Website,Search Engine,Paul Cook / Katie Cook,2,0,"40, 40",[37694-Athena],no,2023-03
8,7687047,Confirmed,Joe Jamieson,joejamieson85@gmail.com,7769652234,2022-10-27,2022-10-28,2022-10-29,1,120,...,0,Website,Search Engine,"Joe Jamieson, Sarah Quigley, William Jamieson,...",2,2,"40, 40, 4, 2",[37692-Rock Star],no,2022-10
9,7683823,Confirmed,Joe Cornish,jlcornish@outlook.com,7951724457,2022-10-26,2022-10-28,2022-10-29,1,120,...,0,Website,Airbnb,"Joe, Erica",2,0,"40, 40",[37693-Artemis],yes,2022-10
10,7683116,Confirmed,Mike Norton,mnorton1964@me.com,7515287888,2022-10-26,2022-10-29,2022-10-30,1,120,...,0,Website,Search Engine,"Mike Norton, Stan Cullimore",2,0,"40, 40",[37690-Hera],no,2022-10
11,7667338,Confirmed,Charlie Benefer,charlie.benefer@btinternet.com,7584125052,2022-10-19,2022-10-25,2022-10-27,2,240,...,0,Website,Search Engine,"Charlie, Lucy",2,0,"40, 40",[37690-Hera],no,2022-10
12,7666741,Confirmed,Rosina Martin,rosina.martin@hotmail.co.uk,7748090979,2022-10-19,2022-10-28,2022-10-29,1,120,...,0,Website,Search Engine,Rosina Martin & Jane Piper,2,0,"40, 40",[37690-Hera],no,2022-10
13,7666376,Confirmed,Dia Ieronymakis,dieronymakis@googlemail.com,7500536620,2022-10-19,2022-10-24,2022-10-26,2,240,...,0,Website,Other,"Dia, Lucia, Antonia\nOrigin:Booking.com",3,0,"40, 40, 40",[37693-Artemis],no,2022-10
14,7604690,Confirmed,Amy Lewis-king,aelk87@aol.co.uk,7933188657,2022-09-27,2022-10-01,2022-10-02,1,120,...,0,Website,Search Engine,"Sharon, max (dog), Olly (dog)",2,0,"40, 40",[37690-Hera],no,2022-09
15,7593707,Confirmed,Rosina Martin,rosina.martin@hotmail.co.uk,7748090979,2022-09-23,2022-10-27,2022-10-28,1,120,...,0,Website,Search Engine,Rosina Martin & Jane Piper,2,0,"40, 40",[37690-Hera],no,2022-09
16,7585724,Confirmed,Stephen Dandy,dandyman1@gmail.com,7711222778,2022-09-20,2022-09-21,2022-09-22,1,120,...,0,Website,Other,"Karen, Stephen + 2 dogs\nOrigin:Booking.com",2,0,"40, 40",[37690-Hera],yes,2022-09
17,7570385,Confirmed,Mark McCarthy,markpmcc@gmail.com,7835995074,2022-09-15,2022-09-17,2022-09-18,1,120,...,0,Website,Search Engine,"Mark McCarthy, Amy McCarthy",2,0,"40, 40",[37693-Artemis],no,2022-09
18,7558943,Confirmed,Tom Roe,tom.roe6@gmail.com,7860856836,2022-09-11,2022-09-16,2022-09-17,1,140,...,0,Website,Search Engine,"Tom Roe, Jemma Roe",2,0,"40, 40",[37690-Hera],no,2022-09
19,7502310,Confirmed,Tom Dickens,mrtad23@gmail.com,7904086884,2022-08-30,2022-09-01,2022-09-03,2,280,...,0,Website,NaN,"Tom, Michelle, Bill (dog)",2,0,"40, 40",[37693-Artemis],no,2022-08
20,7459947,Confirmed,Floris Slikker,f.slikker@filobv.nl,31623750830,2022-08-17,2022-08-17,2022-08-18,1,160,...,0,Website,Other,"Ira, Floris, Oscar, Lonneke",2,2,"40, 40, 12, 10",[37694-Athena],no,2022-08
21,7454981,Confirmed,Sara Loveday,sjwloveday@gmail.com,7999144703,2022-08-16,2022-08-17,2022-08-19,2,288,...,32,Website,Returning Customer,"Sara, Iris",2,0,"40, 40",[37693-Artemis],no,2022-08
22,7450218,Confirmed,Georgina Watson,georgiewatsonart@gmail.com,7484064204,2022-08-15,2022-09-01,2022-09-02,1,160,...,0,Website,Cool Camping,"Georgie, Lawrence, Maisy, Lilia, Milo the dog",4,0,"40, 40, 40, 40",[37690-Hera],yes,2022-08
23,7450093,Confirmed,Meila Roy,drmeilaroy@gmail.com,7909902180,2022-08-15,2022-08-24,2022-08-25,1,160,...,0,Website,Search Engine,"Meila, Andy, Frida (6) & Lilith (3)",2,2,"40, 40, 6, 3",[37694-Athena],no,2022-08
24,7421606,Confirmed,charles de Bergeyck,charles@settlemint.com,32497052223,2022-08-08,2022-08-09,2022-08-11,2,160,...,0,Website,Search Engine,"Charles, Gabor, Ulric de Bergeyck, Julie de Sc...",3,1,"40, 40, 40, 16",[37693-Artemis],no,2022-08
25,7418557,Confirmed,Sara Loveday,sjwloveday@gmail.com,7999144703,2022-08-07,2022-08-14,2022-08-16,2,288,...,32,Website,Airbnb,"Sara, Iris and Igor (dog)",2,0,"40, 40",[37694-Athena],yes,2022-08
26,7417326,Confirmed,Jo Cope,info@jocope.com,7870115257,2022-08-07,2022-08-11,2022-08-12,1,160,...,0,Website,Facebook,"Esther , Jo, Aimee 13 - added night to previou...",2,0,"40, 40",[37693-Artemis],yes,2022-08
27,7401953,Confirmed,Joanna Tompkins,tompkins88@gmail.com,7515286880,2022-08-03,2022-08-04,2022-08-05,1,160,...,0,Website,Trip Advisor,Joanna Nicholas James Lucy,2,2,"40, 40, 13, 6",[37693-Artemis],no,2022-08
28,7394965,Confirmed,Lynn Browne,lynnbrowne07@gmail.com,447557273817,2022-08-02,2022-08-07,2022-08-08,1,160,...,0,Website,Recommendation,"Mookie, Lynn, Alex and Henry",2,2,"40, 40, 9, 8",[37693-Artemis],yes,2022-08
29,7376215,Confirmed,Dot Wright,dotwright_33@hotmail.co.uk,7854680886,2022-07-28,2022-09-03,2022-09-04,1,145,...,0,Website,Search Engine,Dot & Alex,2,0,"40, 40",[37690-Hera],no,2022-07
30,7356926,Confirmed,judith rennie,willitthedog@hotmail.com,7769501948,2022-07-25,2022-08-22,2022-08-24,2,290,...,0,Website,Other,Angela raymont Steve Raymont,2,0,"40, 40",[37693-Artemis],yes,2022-07
31,7356878,Confirmed,judith rennie,willitthedog@hotmail.com,7769501948,2022-07-25,2022-08-22,2022-08-24,2,290,...,0,Website,Other,Judith Rennie richard Sowerby \nOrigin:pitch up,2,0,"40, 40",[37694-Athena],yes,2022-07
32,7330483,Confirmed,Edward Pivcevic,edward.pivcevic@gmail.com,7776226665,2022-07-18,2022-07-26,2022-07-28,2,232,...,58,Website,Recommendation,Reuben Pivcevic,2,0,"40, 40",[37692-Rock Star],no,2022-07
33,7329227,Confirmed,Hannah Jarratt,hrboulton@gmail.com,7547624781,2022-07-18,2022-07-23,2022-07-24,1,145,...,0,Website,Other,"Hannah Jarratt, Phil Jarratt & Ernest Jarratt\...",2,1,"40, 40, 2",[37690-Hera],no,2022-07
34,7323134,Confirmed,Clare Szeto,clareszeto@hotmail.com,7817770221,2022-07-16,2022-08-23,2022-08-25,2,290,...,0,Website,Search Engine,"Clare, Craig, Matilda and Blue.",2,1,"40, 40, 4",[37690-Hera],yes,2022-07
35,7320218,Confirmed,Della Oliver,della.oliver@hotmail.co.uk,7772726791,2022-07-15,2022-08-27,2022-08-28,1,145,...,0,Website,Trip Advisor,Della Oliver and Alan Monger,2,0,"40, 40",[37694-Athena],no,2022-07
36,7312288,Confirmed,Samira Alijeva,samiraalijeva@gmail.com,7554002905,2022-07-13,2022-07-13,2022-07-14,1,145,...,0,Website,Other,Samira and Edgar \nOrigin:Booking.com,2,0,"40, 40",[37694-Athena],no,2022-07
37,7306301,Confirmed,Elizabeth Bodman,elizabethabodman@gmail.com,7958102086,2022-07-11,2022-07-22,2022-07-23,1,145,...,0,Website,Search Engine,"Elizabeth, Louisa , Leanna , Catherine",4,0,"40, 40, 40, 40",[37693-Artemis],no,2022-07
38,7267496,Confirmed,Melvin Harris,melvindooh@yahoo.com,7901553848,2022-07-01,2022-08-29,2022-08-30,1,145,...,0,Website,Search Engine,"Melvin, Alina, Adam",2,1,"40, 40, 6",[37690-Hera],no,2022-07
39,7259905,Confirmed,James Hammett,jameshammett@sky.com,7790352772,2022-06-29,2022-09-03,2022-09-04,1,145,...,0,Website,Facebook,"Jacqui Hammett, Angela Baldwin and Donna Rose",3,0,"40, 40, 40",[37694-Athena],no,2022-06
40,7250281,Confirmed,Dale Thatcher,horriblesnail@hotmail.com,7966393152,2022-06-27,2022-08-06,2022-08-07,1,145,...,0,Website,Facebook,Dale Thatcher Anglea Ley,2,0,"40, 40",[37690-Hera],yes,2022-06
41,7247762,Confirmed,Liza Cheshire,liza.cheshire@gmail.com,7951588233,2022-06-26,2022-08-26,2022-08-28,2,290,...,0,Website,Facebook,"Liza, Dylan, Ruby, Rose, Daisy (dog)",2,2,"40, 40, 11, 8",[37690-Hera],no,2022-06
42,7246429,Confirmed,Helen Steer,pp_helenclare@hotmail.com,7817805733,2022-06-26,2022-07-24,2022-07-27,3,435,...,0,Website,Other,Helen Caleb Florence and Aoife Steer Pratt \nO...,2,1,"40, 40, 3",[37693-Artemis],yes,2022-06
43,7212886,Confirmed,Roberto Cossu,roberto.cossu@gmail.com,7591637450,2022-06-15,2022-07-13,2022-07-15,2,290,...,0,Website,Other,"Roberto, Giorgio, Leonardo\nOrigin:booking.com",1,2,"40, 8, 8",[37690-Hera],no,2022-06
44,7183948,Confirmed,michael green,mikerobertgreen@me.com,7407305144,2022-06-07,2022-06-19,2022-06-22,3,600,...,0,Website,Recommendation,vanya anya michael,2,0,"40, 40",[37692-Rock Star],no,2022-06
45,7176366,Confirmed,Anna Harutyunyan,other@harutyunyan.net,7384520423,2022-06-05,2022-06-18,2022-06-22,4,800,...,0,Website,NaN,NaN,1,0,40,[37693-Artemis],no,2022-06
46,7176100,Confirmed,Alexander Vezhnevets,vezhnick@gmail.com,7773173852,2022-06-05,2022-06-18,2022-06-22,4,800,...,0,Website,Other,Victoria Stoyanova\nOrigin:Vanya,2,0,"40, 40",[37694-Athena],yes,2022-06
47,7174720,Confirmed,Emma Crombie,emmajcrombie@gmail.com,7585139722,2022-06-05,2022-07-01,2022-07-03,2,290,...,0,Website,Other,"Emma Crombie, Dominic Gates \nOrigin:Friend",2,0,"40, 40",[37693-Artemis],no,2022-06
48,7173115,Confirmed,Tracey Bowyer,tracey.bowyer@hotmail.com,7583170444,2022-06-04,2022-07-01,2022-07-03,2,580,...,0,Website,Search Engine,Lewis Luke Harry Alfie Sophie Tracey,7,0,"40, 40, 40, 40, 40, 40, 40",[37690-Hera 37694-Athena],yes,2022-06
49,7155361,Confirmed,Natalya,n.rushailo@gmail.com,7789527097,2022-05-30,2022-06-04,2022-06-06,2,280,...,0,Website,NaN,Natalya and Co,2,0,"40, 40",[37693-Artemis],no,2022-05
50,7149405,Confirmed,Martin Davtyan,martin.davtyan@gmail.com,7497832950,2022-05-28,2022-06-18,2022-06-22,4,800,...,0,Website,NaN,NaN,2,0,"40, 40",[37690-Hera],no,2022-05

In [79]:
clean.to_csv('websitebookingscleaned.csv',index=False)

In [80]:
clean.columns

Index(['booking_id', 'status', 'name', 'email', 'telephone', 'created',
       'start', 'end', 'days', 'price', 'paid', 'stripe_fee', 'units_price',
       'discount', 'channel', 'origin', 'notes', 'adults', 'children', 'ages',
       'units', 'site_opt_in', 'month_created'],
      dtype='object')