In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [2]:
curr_dir=os.getcwd()

In [3]:
os.listdir(curr_dir)

['.DS_Store',
 'CleaningWebsiteBookings.ipynb',
 'Concatbookings.ipynb',
 'HS Website bookings.xlsx',
 'CustInfoFromWebsiteBookings.csv',
 'cleanedwebsitebookings.csv',
 'Allairbnbreservations.csv',
 'websitebookingscleaned.csv',
 'airbnbreservationshs.xlsx',
 '12112-Hartridge SpringsBookings-3.csv',
 '.ipynb_checkpoints',
 'Bookingcomres.csv',
 'allbookingsallplatforms.csv']

In [6]:
df=pd.read_csv('Allairbnbreservations.csv')

In [7]:
df.Contact

AttributeError: 'DataFrame' object has no attribute 'Contact'

In [8]:
df=df.drop('Contact', axis=1)

KeyError: "['Contact'] not found in axis"

In [9]:
print(df.columns)

Index(['Confirmation code', 'Status', 'Guest name', '# of adults',
       '# of children', '# of infants', 'Start date', 'End date',
       '# of nights', 'Booked', 'Listing', 'Earnings', 'channel'],
      dtype='object')

In [10]:
airbnb_columns=['Confirmation code', 'Status', 'Guest name', '# of adults',
       '# of children', '# of infants', 'Start date', 'End date',
       '# of nights', 'Booked', 'Listing', 'Earnings']

In [ ]:
df['channel']='airbnb'

In [ ]:
ab

In [11]:
ab=df

In [12]:
# drop cancelled reservations?

ab=ab.drop(ab[ab.Status =='Cancelled by guest'].index)
ab=ab.drop(ab[ab.Status =='Cancelled by Airbnb'].index)

In [ ]:
# Need to save
ab.to_csv('Allairbnbreservations.csv',index=False)

In [13]:
#ab is clean Airbnb reservations DataFrame, load others cleaned previously...

web=pd.read_csv('cleanedwebsitebookings.csv')
b=pd.read_csv('Bookingcomres.csv')
b

,Type,Reference number,Check-in,Checkout,Guest name,Reservation status,Currency,Payment status,Amount,Commission,Payment charge,Net,Payout date,Payout ID,channel
0,Reservation,3559243710,29-Oct-22,30-Oct-22,Matthew Fox,ok,GBP,by_booking,150.0,-27.00,-1.95,121.05,03-Nov-22,SGq1ozjnKdhg97kC,booking.com
1,Reservation,3433899966,29-Oct-22,30-Oct-22,Ross Davids,ok,GBP,by_booking,150.0,-27.00,-1.95,121.05,03-Nov-22,SGq1ozjnKdhg97kC,booking.com
2,Reservation,2360260265,29-Oct-22,30-Oct-22,Ignes Mohan,ok,GBP,by_booking,150.0,-27.00,-1.95,121.05,03-Nov-22,SGq1ozjnKdhg97kC,booking.com
3,Reservation,2160394624,28-Oct-22,30-Oct-22,Lewis Polden,ok,GBP,by_booking,216.0,-38.88,-2.81,174.31,03-Nov-22,SGq1ozjnKdhg97kC,booking.com
4,Reservation,3183193509,27-Oct-22,28-Oct-22,Theresa Morokutti,ok,GBP,by_booking,108.0,-19.44,-1.40,87.16,03-Nov-22,SGq1ozjnKdhg97kC,booking.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,Reservation,3187009953,26-Aug-22,27-Aug-22,Jenny King,ok,GBP,by_booking,161.0,-32.20,-2.09,126.71,01-Sep-22,SxSJkKjQIY98cfnB,booking.com
100,Reservation,3809381465,23-Aug-22,26-Aug-22,Alex Slater,ok,GBP,by_booking,432.0,-86.40,-5.62,339.98,01-Sep-22,SxSJkKjQIY98cfnB,booking.com
101,Reservation,2600895533,06-May-23,08-May-23,Jamie Durcan,ok,GBP,by_booking,390.0,-70.20,0.00,319.80,11-May-23,SJb2XHARnxkV9gyq,booking.com
102,Reservation,3003157468,17-May-23,18-May-23,Sebastian Fornell,ok,GBP,by_booking,195.0,-35.10,-2.53,157.37,25-May-23,H028qmC3olUk1uFt,booking.com
103,Reservation,2898153840,27-May-23,29-May-23,Dylan Walford,ok,GBP,by_booking,390.0,-70.20,-5.07,314.73,01-Jun-23,NDAr8H3OYv4XATqj,booking.com

In [ ]:
ab.columns

In [14]:
b.columns

Index(['Type', 'Reference number', 'Check-in', 'Checkout', 'Guest name',
       'Reservation status', 'Currency', 'Payment status', 'Amount',
       'Commission', 'Payment charge', 'Net', 'Payout date', 'Payout ID',
       'channel'],
      dtype='object')

In [17]:
web['earnings']=web['paid']-web['stripe_fee']

In [18]:
web

,booking_id,status,name,email,telephone,created,start,end,days,price,...,channel,origin,notes,adults,children,ages,units,site_opt_in,month_created,earnings
0,8574991,Confirmed,Daria Biryukova,biryukovadi@gmail.com,7450687977,2023-06-04,2023-07-07,2023-07-09,2,400,...,Web,Other,"Daria Biryukova, Ivan Biriukov, Ekaterina Gird...",4,0,"40, 40, 40, 40",[37694-Athena],no,2023-06,395.00
1,8549078,Confirmed,Scott Sweeney,scott.sweeney@yahoo.co.uk,7986013467,2023-05-29,2023-05-30,2023-06-01,2,360,...,Web,Trip Advisor,Scott Jennifer Ben Rachel,2,2,"40, 40, 15, 13",[37693-Artemis],no,2023-05,355.48
2,8517144,Confirmed,Julie Pledge,julesp26@yahoo.co.uk,7872827613,2023-05-20,2023-05-27,2023-05-29,2,360,...,Web,Recommendation,"Julie Pledge, Edward Moan, William Moan",1,2,"40, 15, 12",[37693-Artemis],yes,2023-05,354.40
3,8507609,Confirmed,Maria Ghani,mariaghani@gmail.com,7803356874,2023-05-17,2023-05-26,2023-05-29,3,540,...,Web,Search Engine,"David, Maria, Ilyas (6), Aliyah (3)",2,2,"40, 40, 6, 3",[37690-Hera],no,2023-05,522.25
4,8493181,Confirmed,Chris Coxhead,chriscoxhead@hotmail.com,7768697414,2023-05-12,2023-08-17,2023-08-21,4,800,...,Web,Search Engine,"Chris Coxhead, Fiona Imber , Milly (the dog)",2,0,"40, 40",[37690-Hera],yes,2023-05,787.80
5,8450946,Confirmed,Paul Cook,paulcook101@hotmail.com,7950683501,2023-04-30,2023-05-19,2023-05-20,1,120,...,Web,Recommendation,Paul Cook / Katie Cook,2,0,"40, 40",[37690-Hera],no,2023-04,118.00
6,8447545,Confirmed,Nicholas Scott-Smith,nscottsmith@gmail.com,7903195671,2023-04-29,2023-08-25,2023-08-27,2,320,...,Web,Returning Customer,"Nick, Gemma, Iris, Averly, Violet",2,2,"40, 40, 9, 7",[37694-Athena],yes,2023-04,315.96
7,8144344,Confirmed,Paul Cook,paulcook101@hotmail.com,7950683501,2023-03-02,2023-05-20,2023-05-21,1,120,...,Web,Search Engine,Paul Cook / Katie Cook,2,0,"40, 40",[37694-Athena],no,2023-03,118.12
8,7687047,Confirmed,Joe Jamieson,joejamieson85@gmail.com,7769652234,2022-10-27,2022-10-28,2022-10-29,1,120,...,Web,Search Engine,"Joe Jamieson, Sarah Quigley, William Jamieson,...",2,2,"40, 40, 4, 2",[37692-Rock Star],no,2022-10,118.12
9,7683823,Confirmed,Joe Cornish,jlcornish@outlook.com,7951724457,2022-10-26,2022-10-28,2022-10-29,1,120,...,Web,Airbnb,"Joe, Erica",2,0,"40, 40",[37693-Artemis],yes,2022-10,118.12
10,7683116,Confirmed,Mike Norton,mnorton1964@me.com,7515287888,2022-10-26,2022-10-29,2022-10-30,1,120,...,Web,Search Engine,"Mike Norton, Stan Cullimore",2,0,"40, 40",[37690-Hera],no,2022-10,118.12
11,7667338,Confirmed,Charlie Benefer,charlie.benefer@btinternet.com,7584125052,2022-10-19,2022-10-25,2022-10-27,2,240,...,Web,Search Engine,"Charlie, Lucy",2,0,"40, 40",[37690-Hera],no,2022-10,236.44
12,7666741,Confirmed,Rosina Martin,rosina.martin@hotmail.co.uk,7748090979,2022-10-19,2022-10-28,2022-10-29,1,120,...,Web,Search Engine,Rosina Martin & Jane Piper,2,0,"40, 40",[37690-Hera],no,2022-10,118.12
13,7666376,Confirmed,Dia Ieronymakis,dieronymakis@googlemail.com,7500536620,2022-10-19,2022-10-24,2022-10-26,2,240,...,Web,Other,"Dia, Lucia, Antonia\nOrigin:Booking.com",3,0,"40, 40, 40",[37693-Artemis],no,2022-10,236.44
14,7604690,Confirmed,Amy Lewis-king,aelk87@aol.co.uk,7933188657,2022-09-27,2022-10-01,2022-10-02,1,120,...,Web,Search Engine,"Sharon, max (dog), Olly (dog)",2,0,"40, 40",[37690-Hera],no,2022-09,118.12
15,7593707,Confirmed,Rosina Martin,rosina.martin@hotmail.co.uk,7748090979,2022-09-23,2022-10-27,2022-10-28,1,120,...,Web,Search Engine,Rosina Martin & Jane Piper,2,0,"40, 40",[37690-Hera],no,2022-09,118.12
16,7585724,Confirmed,Stephen Dandy,dandyman1@gmail.com,7711222778,2022-09-20,2022-09-21,2022-09-22,1,120,...,Web,Other,"Karen, Stephen + 2 dogs\nOrigin:Booking.com",2,0,"40, 40",[37690-Hera],yes,2022-09,118.12
17,7570385,Confirmed,Mark McCarthy,markpmcc@gmail.com,7835995074,2022-09-15,2022-09-17,2022-09-18,1,120,...,Web,Search Engine,"Mark McCarthy, Amy McCarthy",2,0,"40, 40",[37693-Artemis],no,2022-09,118.12
18,7558943,Confirmed,Tom Roe,tom.roe6@gmail.com,7860856836,2022-09-11,2022-09-16,2022-09-17,1,140,...,Web,Search Engine,"Tom Roe, Jemma Roe",2,0,"40, 40",[37690-Hera],no,2022-09,137.84
19,7502310,Confirmed,Tom Dickens,mrtad23@gmail.com,7904086884,2022-08-30,2022-09-01,2022-09-03,2,280,...,Web,NaN,"Tom, Michelle, Bill (dog)",2,0,"40, 40",[37693-Artemis],no,2022-08,275.88
20,7459947,Confirmed,Floris Slikker,f.slikker@filobv.nl,31623750830,2022-08-17,2022-08-17,2022-08-18,1,160,...,Web,Other,"Ira, Floris, Oscar, Lonneke",2,2,"40, 40, 12, 10",[37694-Athena],no,2022-08,155.80
21,7454981,Confirmed,Sara Loveday,sjwloveday@gmail.com,7999144703,2022-08-16,2022-08-17,2022-08-19,2,288,...,Web,Returning Customer,"Sara, Iris",2,0,"40, 40",[37693-Artemis],no,2022-08,283.77
22,7450218,Confirmed,Georgina Watson,georgiewatsonart@gmail.com,7484064204,2022-08-15,2022-09-01,2022-09-02,1,160,...,Web,Cool Camping,"Georgie, Lawrence, Maisy, Lilia, Milo the dog",4,0,"40, 40, 40, 40",[37690-Hera],yes,2022-08,157.56
23,7450093,Confirmed,Meila Roy,drmeilaroy@gmail.com,7909902180,2022-08-15,2022-08-24,2022-08-25,1,160,...,Web,Search Engine,"Meila, Andy, Frida (6) & Lilith (3)",2,2,"40, 40, 6, 3",[37694-Athena],no,2022-08,157.56
24,7421606,Confirmed,charles de Bergeyck,charles@settlemint.com,32497052223,2022-08-08,2022-08-09,2022-08-11,2,160,...,Web,Search Engine,"Charles, Gabor, Ulric de Bergeyck, Julie de Sc...",3,1,"40, 40, 40, 16",[37693-Artemis],no,2022-08,155.80
25,7418557,Confirmed,Sara Loveday,sjwloveday@gmail.com,7999144703,2022-08-07,2022-08-14,2022-08-16,2,288,...,Web,Airbnb,"Sara, Iris and Igor (dog)",2,0,"40, 40",[37694-Athena],yes,2022-08,283.77
26,7417326,Confirmed,Jo Cope,info@jocope.com,7870115257,2022-08-07,2022-08-11,2022-08-12,1,160,...,Web,Facebook,"Esther , Jo, Aimee 13 - added night to previou...",2,0,"40, 40",[37693-Artemis],yes,2022-08,157.56
27,7401953,Confirmed,Joanna Tompkins,tompkins88@gmail.com,7515286880,2022-08-03,2022-08-04,2022-08-05,1,160,...,Web,Trip Advisor,Joanna Nicholas James Lucy,2,2,"40, 40, 13, 6",[37693-Artemis],no,2022-08,157.56
28,7394965,Confirmed,Lynn Browne,lynnbrowne07@gmail.com,447557273817,2022-08-02,2022-08-07,2022-08-08,1,160,...,Web,Recommendation,"Mookie, Lynn, Alex and Henry",2,2,"40, 40, 9, 8",[37693-Artemis],yes,2022-08,157.56
29,7376215,Confirmed,Dot Wright,dotwright_33@hotmail.co.uk,7854680886,2022-07-28,2022-09-03,2022-09-04,1,145,...,Web,Search Engine,Dot & Alex,2,0,"40, 40",[37690-Hera],no,2022-07,142.77
30,7356926,Confirmed,judith rennie,willitthedog@hotmail.com,7769501948,2022-07-25,2022-08-22,2022-08-24,2,290,...,Web,Other,Angela raymont Steve Raymont,2,0,"40, 40",[37693-Artemis],yes,2022-07,285.74
31,7356878,Confirmed,judith rennie,willitthedog@hotmail.com,7769501948,2022-07-25,2022-08-22,2022-08-24,2,290,...,Web,Other,Judith Rennie richard Sowerby \nOrigin:pitch up,2,0,"40, 40",[37694-Athena],yes,2022-07,285.74
32,7330483,Confirmed,Edward Pivcevic,edward.pivcevic@gmail.com,7776226665,2022-07-18,2022-07-26,2022-07-28,2,232,...,Web,Recommendation,Reuben Pivcevic,2,0,"40, 40",[37692-Rock Star],no,2022-07,228.55
33,7329227,Confirmed,Hannah Jarratt,hrboulton@gmail.com,7547624781,2022-07-18,2022-07-23,2022-07-24,1,145,...,Web,Other,"Hannah Jarratt, Phil Jarratt & Ernest Jarratt\...",2,1,"40, 40, 2",[37690-Hera],no,2022-07,142.77
34,7323134,Confirmed,Clare Szeto,clareszeto@hotmail.com,7817770221,2022-07-16,2022-08-23,2022-08-25,2,290,...,Web,Search Engine,"Clare, Craig, Matilda and Blue.",2,1,"40, 40, 4",[37690-Hera],yes,2022-07,285.74
35,7320218,Confirmed,Della Oliver,della.oliver@hotmail.co.uk,7772726791,2022-07-15,2022-08-27,2022-08-28,1,145,...,Web,Trip Advisor,Della Oliver and Alan Monger,2,0,"40, 40",[37694-Athena],no,2022-07,142.77
36,7312288,Confirmed,Samira Alijeva,samiraalijeva@gmail.com,7554002905,2022-07-13,2022-07-13,2022-07-14,1,145,...,Web,Other,Samira and Edgar \nOrigin:Booking.com,2,0,"40, 40",[37694-Athena],no,2022-07,142.77
37,7306301,Confirmed,Elizabeth Bodman,elizabethabodman@gmail.com,7958102086,2022-07-11,2022-07-22,2022-07-23,1,145,...,Web,Search Engine,"Elizabeth, Louisa , Leanna , Catherine",4,0,"40, 40, 40, 40",[37693-Artemis],no,2022-07,142.77
38,7267496,Confirmed,Melvin Harris,melvindooh@yahoo.com,7901553848,2022-07-01,2022-08-29,2022-08-30,1,145,...,Web,Search Engine,"Melvin, Alina, Adam",2,1,"40, 40, 6",[37690-Hera],no,2022-07,142.77
39,7259905,Confirmed,James Hammett,jameshammett@sky.com,7790352772,2022-06-29,2022-09-03,2022-09-04,1,145,...,Web,Facebook,"Jacqui Hammett, Angela Baldwin and Donna Rose",3,0,"40, 40, 40",[37694-Athena],no,2022-06,142.77
40,7250281,Confirmed,Dale Thatcher,horriblesnail@hotmail.com,7966393152,2022-06-27,2022-08-06,2022-08-07,1,145,...,Web,Facebook,Dale Thatcher Anglea Ley,2,0,"40, 40",[37690-Hera],yes,2022-06,142.77
41,7247762,Confirmed,Liza Cheshire,liza.cheshire@gmail.com,7951588233,2022-06-26,2022-08-26,2022-08-28,2,290,...,Web,Facebook,"Liza, Dylan, Ruby, Rose, Daisy (dog)",2,2,"40, 40, 11, 8",[37690-Hera],no,2022-06,285.74
42,7246429,Confirmed,Helen Steer,pp_helenclare@hotmail.com,7817805733,2022-06-26,2022-07-24,2022-07-27,3,435,...,Web,Other,Helen Caleb Florence and Aoife Steer Pratt \nO...,2,1,"40, 40, 3",[37693-Artemis],yes,2022-06,428.71
43,7212886,Confirmed,Roberto Cossu,roberto.cossu@gmail.com,7591637450,2022-06-15,2022-07-13,2022-07-15,2,290,...,Web,Other,"Roberto, Giorgio, Leonardo\nOrigin:booking.com",1,2,"40, 8, 8",[37690-Hera],no,2022-06,285.74
44,7183948,Confirmed,michael green,mikerobertgreen@me.com,7407305144,2022-06-07,2022-06-19,2022-06-22,3,600,...,Web,Recommendation,vanya anya michael,2,0,"40, 40",[37692-Rock Star],no,2022-06,591.40
45,7176366,Confirmed,Anna Harutyunyan,other@harutyunyan.net,7384520423,2022-06-05,2022-06-18,2022-06-22,4,800,...,Web,NaN,NaN,1,0,40,[37693-Artemis],no,2022-06,788.60
46,7176100,Confirmed,Alexander Vezhnevets,vezhnick@gmail.com,7773173852,2022-06-05,2022-06-18,2022-06-22,4,800,...,Web,Other,Victoria Stoyanova\nOrigin:Vanya,2,0,"40, 40",[37694-Athena],yes,2022-06,788.60
47,7174720,Confirmed,Emma Crombie,emmajcrombie@gmail.com,7585139722,2022-06-05,2022-07-01,2022-07-03,2,290,...,Web,Other,"Emma Crombie, Dominic Gates \nOrigin:Friend",2,0,"40, 40",[37693-Artemis],no,2022-06,285.74
48,7173115,Confirmed,Tracey Bowyer,tracey.bowyer@hotmail.com,7583170444,2022-06-04,2022-07-01,2022-07-03,2,580,...,Web,Search Engine,Lewis Luke Harry Alfie Sophie Tracey,7,0,"40, 40, 40, 40, 40, 40, 40",[37690-Hera 37694-Athena],yes,2022-06,571.68
49,7155361,Confirmed,Natalya,n.rushailo@gmail.com,7789527097,2022-05-30,2022-06-04,2022-06-06,2,280,...,Dashboard,NaN,Natalya and Co,2,0,"40, 40",[37693-Artemis],no,2022-05,275.88
50,7149405,Confirmed,Martin Davtyan,martin.davtyan@gmail.com,7497832950,2022-05-28,2022-06-18,2022-06-22,4,800,...,Web,NaN,NaN,2,0,"40, 40",[37690-Hera],no,2022-05,788.60

In [19]:
web.to_csv('cleanedwebsitebookings.csv', index=False)

In [20]:
web.columns

Index(['booking_id', 'status', 'name', 'email', 'telephone', 'created',
       'start', 'end', 'days', 'price', 'paid', 'stripe_fee', 'units_price',
       'discount', 'channel', 'origin', 'notes', 'adults', 'children', 'ages',
       'units', 'site_opt_in', 'month_created', 'earnings'],
      dtype='object')

In [21]:
b.columns

Index(['Type', 'Reference number', 'Check-in', 'Checkout', 'Guest name',
       'Reservation status', 'Currency', 'Payment status', 'Amount',
       'Commission', 'Payment charge', 'Net', 'Payout date', 'Payout ID',
       'channel'],
      dtype='object')

In [23]:
b=b.rename(columns={'Net':'earnings'})

In [24]:
b.columns

Index(['Type', 'Reference number', 'Check-in', 'Checkout', 'Guest name',
       'Reservation status', 'Currency', 'Payment status', 'Amount',
       'Commission', 'Payment charge', 'earnings', 'Payout date', 'Payout ID',
       'channel'],
      dtype='object')

In [25]:
b.to_csv('Bookingcomres.csv',index=False)

In [ ]:
b.drop(columns='Unnamed: 11', inplace=True)
b['channel']='booking.com'
b.to_csv('Bookingcomres.csv',index=False)

In [26]:
b.columns

Index(['Type', 'Reference number', 'Check-in', 'Checkout', 'Guest name',
       'Reservation status', 'Currency', 'Payment status', 'Amount',
       'Commission', 'Payment charge', 'earnings', 'Payout date', 'Payout ID',
       'channel'],
      dtype='object')

In [ ]:
# # To Do
# Need to find common columns to book all bookings in the same sheet

cols_ab=['Confirmation code', 'Status', 'Guest name', '# of adults',
       '# of children', '# of infants', 'Start date', 'End date',
       '# of nights', 'Booked', 'Listing', 'Earnings', 'channel']

cols_web=['booking_id', 'status', 'name', 'email', 'telephone', 'created',
       'start', 'end', 'days', 'price', 'paid', 'stripe_fee', 'units_price',
       'discount', 'channel', 'origin', 'notes', 'adults', 'children', 'ages',
       'units', 'site_opt_in', 'month_created', 'earnings']

cols_b=['Type', 'Reference number', 'Check-in', 'Checkout', 'Guest name',
       'Reservation status', 'Currency', 'Payment status', 'Amount',
       'Commission', 'Payment charge', 'earnings', 'Payout date', 'Payout ID',
       'channel']

In [27]:
import pandas as pd

# Create the mapping dictionary
column_mapping = {
    'ab': {
        'Confirmation code': 'booking_id',
        'Status': 'status',
        'Guest name': 'name',
        '# of adults': 'adults',
        '# of children': 'children',
        '# of infants': 'infants',
        'Start date': 'start',
        'End date': 'end',
        '# of nights': 'nights',
        'Booked': 'created',
        'Listing': 'origin',
        'Earnings': 'earnings',
        'channel': 'channel'
    },
    'b': {
        'Type': 'booking_type',
        'Reference number': 'booking_id',
        'Check-in': 'start',
        'Checkout': 'end',
        'Guest name': 'name',
        'Reservation status': 'status',
        'Currency': 'currency',
        'Payment status': 'payment_status',
        'Amount': 'amount',
        'Commission': 'commission',
        'Payment charge': 'payment_charge',
        'earnings': 'earnings',
        'Payout date': 'payout_date',
        'Payout ID': 'payout_id',
        'channel': 'channel'
    },
    'web': {
        'booking_id': 'booking_id',
        'status': 'status',
        'name': 'name',
        'email': 'email',
        'telephone': 'telephone',
        'created': 'created',
        'start': 'start',
        'end': 'end',
        'days': 'nights',
        'price': 'price',
        'paid': 'paid',
        'stripe_fee': 'stripe_fee',
        'units_price': 'units_price',
        'discount': 'discount',
        'channel': 'channel',
        'origin': 'origin',
        'notes': 'notes',
        'adults': 'adults',
        'children': 'children',
        'ages': 'ages',
        'units': 'units',
        'site_opt_in': 'site_opt_in',
        'month_created': 'month_created',
        'earnings': 'earnings'
    }
}

# Rename columns of each DataFrame using the mapping dictionary
ab = ab.rename(columns=column_mapping['ab'])
b = b.rename(columns=column_mapping['b'])
web = web.rename(columns=column_mapping['web'])

# Concatenate the DataFrames and normalize column names
master_df = pd.concat([ab, b, web], ignore_index=True)

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [ ]:
master_df.to_csv('allbookingsallplatforms.csv', index=False)