In [1]:
import pandas as pd

In [17]:
a=pd.read_csv('Allairbnbreservations.csv')

In [24]:
ab=a

In [21]:
a.columns

Index(['Confirmation code', 'Status', 'Guest name', '# of adults',
       '# of children', '# of infants', 'Start date', 'End date',
       '# of nights', 'Booked', 'Listing', 'Earnings', 'channel'],
      dtype='object')

In [19]:
a.Earnings.dtype

dtype('float64')

In [4]:
b=pd.read_csv('Bookingcomres.csv')

In [22]:
b.columns

Index(['Type', 'Reference number', 'Check-in', 'Checkout', 'Guest name',
       'Reservation status', 'Currency', 'Payment status', 'Amount',
       'Commission', 'Payment charge', 'earnings', 'Payout date', 'Payout ID',
       'channel'],
      dtype='object')

In [6]:
web=pd.read_csv('cleanedwebsitebookings.csv')

In [8]:
web.columns

Index(['booking_id', 'status', 'name', 'email', 'telephone', 'created',
       'start', 'end', 'days', 'price', 'paid', 'stripe_fee', 'units_price',
       'discount', 'channel', 'origin', 'notes', 'adults', 'children', 'ages',
       'units', 'site_opt_in', 'month_created', 'earnings'],
      dtype='object')

In [20]:
web.earnings.dtype

dtype('float64')

In [ ]:





web_cols=['booking_id', 'status', 'name', 'email', 'telephone', 'created',
       'start', 'end', 'days', 'price', 'paid', 'stripe_fee', 'units_price',
       'discount', 'channel', 'origin', 'notes', 'adults', 'children', 'ages',
       'units', 'site_opt_in', 'month_created', 'earnings']

ab_cols=['Confirmation code', 'Status', 'Guest name', '# of adults',
       '# of children', '# of infants', 'Start date', 'End date',
       '# of nights', 'Booked', 'Listing', 'Earnings', 'channel']

b_cols= ['Type', 'Reference number', 'Check-in', 'Checkout', 'Guest name',
       'Reservation status', 'Currency', 'Payment status', 'Amount',
       'Commission', 'Payment charge', 'earnings', 'Payout date', 'Payout ID',
       'channel']

In [26]:
ab1=ab.copy()
b1=b.copy()
web1=web.copy()

In [27]:
import pandas as pd



# Mapping dictionary for DataFrame ab
mapping_dict_ab1 = {
    'Confirmation code': 'booking_id',
    'Status': 'status',
    'Guest name': 'name',
    '# of adults': 'adults',
    '# of children': 'children',
    '# of infants': 'infants',
    'Start date': 'start',
    'End date': 'end',
    '# of nights': 'days',
    'Booked': 'created',
    'Listing': 'origin',
    'Earnings': 'earnings',
    'channel': 'channel'
}

# Mapping dictionary for DataFrame b
mapping_dict_b1 = {
    'Type': 'type',
    'Reference number': 'booking_id',
    'Check-in': 'start',
    'Checkout': 'end',
    'Guest name': 'name',
    'Reservation status': 'status',
    'Currency': 'currency',
    'Payment status': 'payment_status',
    'Amount': 'amount',
    'Commission': 'commission',
    'Payment charge': 'payment_charge',
    'earnings': 'earnings',
    'Payout date': 'payout_date',
    'Payout ID': 'payout_id',
    'channel': 'channel'
}

# Mapping dictionary for DataFrame web
mapping_dict_web1 = {
    'booking_id': 'booking_id',
    'status': 'status',
    'name': 'name',
    'email': 'email',
    'telephone': 'telephone',
    'created': 'created',
    'start': 'start',
    'end': 'end',
    'days': 'days',
    'price': 'price',
    'paid': 'paid',
    'stripe_fee': 'stripe_fee',
    'units_price': 'units_price',
    'discount': 'discount',
    'channel': 'channel',
    'origin': 'origin',
    'notes': 'notes',
    'adults': 'adults',
    'children': 'children',
    'ages': 'ages',
    'units': 'units',
    'site_opt_in': 'site_opt_in',
    'month_created': 'month_created',
    'earnings': 'earnings'
}


ab1 = ab1.rename(columns=mapping_dict_ab1)
b1 = b1.rename(columns=mapping_dict_b1)
web1 = web1.rename(columns=mapping_dict_web1)

master_df = pd.concat([ab1, b1, web1], ignore_index=True)

In [28]:
master_df

,booking_id,status,name,adults,children,infants,start,end,days,created,...,price,paid,stripe_fee,units_price,discount,notes,ages,units,site_opt_in,month_created
0,HMCX2JZMFF,Past guest,Sinead Mckeefry,3.0,0.0,0.0,28/05/2023,02/06/2023,5.0,26/05/2023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HM3EEK48A2,Past guest,Carl Steel,2.0,2.0,0.0,26/10/2022,28/10/2022,2.0,25/10/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HM5MADDNJD,Past guest,Fiona Parker,2.0,0.0,0.0,26/10/2022,27/10/2022,1.0,23/10/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HMHRKPR8JE,Past guest,Tyler & Matt Phillips,2.0,0.0,0.0,22/10/2022,23/10/2022,1.0,18/10/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HMF4YDJ3EK,Past guest,Juliet Garratt,3.0,0.0,0.0,22/10/2022,23/10/2022,1.0,15/10/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,7176100,Confirmed,Alexander Vezhnevets,2.0,0.0,NaN,2022-06-18,2022-06-22,4.0,2022-06-05,...,800.0,800.0,11.40,800.0,0.0,Victoria Stoyanova\nOrigin:Vanya,"40, 40",[37694-Athena],yes,2022-06
196,7174720,Confirmed,Emma Crombie,2.0,0.0,NaN,2022-07-01,2022-07-03,2.0,2022-06-05,...,290.0,290.0,4.26,290.0,0.0,"Emma Crombie, Dominic Gates \nOrigin:Friend","40, 40",[37693-Artemis],no,2022-06
197,7173115,Confirmed,Tracey Bowyer,7.0,0.0,NaN,2022-07-01,2022-07-03,2.0,2022-06-04,...,580.0,580.0,8.32,580.0,0.0,Lewis Luke Harry Alfie Sophie Tracey,"40, 40, 40, 40, 40, 40, 40",[37690-Hera 37694-Athena],yes,2022-06
198,7155361,Confirmed,Natalya,2.0,0.0,NaN,2022-06-04,2022-06-06,2.0,2022-05-30,...,280.0,280.0,4.12,0.0,0.0,Natalya and Co,"40, 40",[37693-Artemis],no,2022-05
199,7149405,Confirmed,Martin Davtyan,2.0,0.0,NaN,2022-06-18,2022-06-22,4.0,2022-05-28,...,800.0,800.0,11.40,800.0,0.0,NaN,"40, 40",[37690-Hera],no,2022-05

In [29]:
master_df.to_csv('concatexperiment.csv')

In [30]:
master_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 33 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   booking_id      200 non-null    object
 1   status          200 non-null    object
 2   name            190 non-null    object
 3   adults          96 non-null     float64
 4   children        96 non-null     float64
 5   infants         45 non-null     float64
 6   start           200 non-null    object
 7   end             200 non-null    object
 8   days            96 non-null     float64
 9   created         96 non-null     object
 10  origin          92 non-null     object
 11  earnings        200 non-null    float64
 12  channel         200 non-null    object
 13  type            104 non-null    object
 14  currency        104 non-null    object
 15  payment_status  104 non-null    object
 16  amount          104 non-null    float64
 17  commission      104 non-null    float64
 18  payment_charge  104 non-null    float64
 19  payout_date     104 non-null    object
 20  payout_id       104 non-null    object
 21  email           51 non-null     object
 22  telephone       51 non-null     float64
 23  price           51 non-null     float64
 24  paid            51 non-null     float64
 25  stripe_fee      51 non-null     float64
 26  units_price     51 non-null     float64
 27  discount        51 non-null     float64
 28  notes           49 non-null     object
 29  ages            51 non-null     object
 30  units           51 non-null     object
 31  site_opt_in     51 non-null     object
 32  month_created   51 non-null     object
dtypes: float64(14), object(19)
memory usage: 51.7+ KB